<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarPerfil</servlet-name>
        <servlet-class>controller.CadastrarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarAutor</servlet-name>
        <servlet-class>controller.CadastrarAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>controller.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controller.AlterarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuario</servlet-name>
        <servlet-class>controller.AlterarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarUsuario</servlet-name>
        <servlet-class>controller.AtivarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarUsuario</servlet-name>
        <servlet-class>controller.DesativarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPerfil</servlet-name>
        <servlet-class>controller.ExcluirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarLivro</servlet-name>
        <servlet-class>controller.CadastrarLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarMenu</servlet-name>
        <servlet-class>controller.CadastrarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>controller.AlterarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <servlet-class>controller.GerenciarMenuPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirLivro</servlet-name>
        <servlet-class>controller.ExcluirLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarLivro</servlet-name>
        <servlet-class>controller.AlterarLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarExemplar</servlet-name>
        <servlet-class>controller.CadastrarExemplar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirExemplar</servlet-name>
        <servlet-class>controller.ExcluirExemplar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarExemplar</servlet-name>
        <servlet-class>controller.AtivarExemplar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarExemplar</servlet-name>
        <servlet-class>controller.DesativarExemplar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarExemplar</servlet-name>
        <servlet-class>controller.AlterarExemplar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarAutor</servlet-name>
        <servlet-class>controller.AlterarAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirAutor</servlet-name>
        <servlet-class>controller.ExcluirAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarLivroAutor</servlet-name>
        <servlet-class>controller.GerenciarLivroAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirEmprestimo</servlet-name>
        <servlet-class>controller.ExcluirEmprestimo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarEmprestimo</servlet-name>
        <servlet-class>controller.CadastrarEmprestimo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarEmprestimo</servlet-name>
        <servlet-class>controller.AlterarEmprestimo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaLogin</servlet-name>
        <servlet-class>controller.ValidaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarReserva</servlet-name>
        <servlet-class>controller.CadastrarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirReserva</servlet-name>
        <servlet-class>controller.ExcluirReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarReserva</servlet-name>
        <servlet-class>controller.AlterarReserva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarPerfil</servlet-name>
        <url-pattern>/cadastrar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarAutor</servlet-name>
        <url-pattern>/cadastrar_autor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/cadastrar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/alterar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuario</servlet-name>
        <url-pattern>/alterar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarUsuario</servlet-name>
        <url-pattern>/ativar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarUsuario</servlet-name>
        <url-pattern>/desativar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfil</servlet-name>
        <url-pattern>/excluir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarLivro</servlet-name>
        <url-pattern>/cadastrar_livro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarMenu</servlet-name>
        <url-pattern>/cadastrar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/alterar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <url-pattern>/gerenciar_menu_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirLivro</servlet-name>
        <url-pattern>/excluir_livro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarLivro</servlet-name>
        <url-pattern>/alterar_livro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarExemplar</servlet-name>
        <url-pattern>/cadastrar_exemplar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirExemplar</servlet-name>
        <url-pattern>/excluir_exemplar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarExemplar</servlet-name>
        <url-pattern>/ativar_exemplar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarExemplar</servlet-name>
        <url-pattern>/desativar_exemplar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarExemplar</servlet-name>
        <url-pattern>/alterar_exemplar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarAutor</servlet-name>
        <url-pattern>/alterar_autor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirAutor</servlet-name>
        <url-pattern>/excluir_autor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarLivroAutor</servlet-name>
        <url-pattern>/gerenciar_livro_autor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirEmprestimo</servlet-name>
        <url-pattern>/excluir_emprestimo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarEmprestimo</servlet-name>
        <url-pattern>/cadastrar_emprestimo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarEmprestimo</servlet-name>
        <url-pattern>/alterar_emprestimo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaLogin</servlet-name>
        <url-pattern>/valida_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarReserva</servlet-name>
        <url-pattern>/cadastrar_reserva.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirReserva</servlet-name>
        <url-pattern>/excluir_reserva.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarReserva</servlet-name>
        <url-pattern>/alterar_reserva.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
