.table {

    text-align: center;
    margin:0 auto;
    color: #fff;
    
}

.tr {
    color: #007bff;
    
}

.list-perfil-title {
    color: white;
    text-align: center;
    margin:0 auto;
}

.cadastrar_perfil {
    text-align: center;
    margin:0 auto;
}