.menu ul li{
    margin: 0;
    list-style: none;
    /*float: block;*/
    border-right: none;
    background-color: #FFFFFF;
}
.menu ul li a{
    float: left;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    display: inline;
}
.menu ul li a:hover{
    background-color: #c3c3c3;
}
.menu ul{
    width: 100%;
    padding: 0;
    float: left;
    display: inline;
    border: none;
    
}
